




.button1 {
    height: 100px;
    width: 100px;
    background-color: rgb(255, 0, 0);
    
}

.button2 {
    height: 100px;
    width: 100px;
    background-color: rgb(0, 0, 0);
    
}

.button3 {
    height: 100px;
    width: 100px;
    background-color: rgb(0, 0, 0);
    
}

.button4 {
    height: 100px;
    width: 100px;
    background-color: rgb(0, 0, 0);
    
}

.button4 {
    height: 100px;
    width: 100px;
    background-color: rgb(0, 0, 0);
    
}

.button5 {
    height: 100px;
    width: 100px;
    background-color: rgb(0, 0, 0);
    
}

.button6 {
    height: 100px;
    width: 100px;
    background-color: rgb(0, 0, 0);
    
}

.button7 {
    height: 100px;
    width: 100px;
    background-color: rgb(0, 0, 0);

}

.button8 {
    height: 100px;
    width: 100px;
    background-color: rgb(0, 0, 0);
    
}

.button9 {
    height: 100px;
    width: 100px;
    background-color: rgb(0, 0, 0);
    
}

.button10 {
    height: 100px;
    width: 100px;
    background-color: rgb(255, 0, 0);
    
}

.button11 {
    height: 100px;
    width: 100px;
    background-color: rgb(255, 0, 0);

}

.button12 {
    height: 100px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    
}

.button13 {
    height: 100px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    
}

.button14 {
    height: 100px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    
}

.button15 {
    height: 100px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    
}

.button16 {
    height: 100px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    
}

.button17 {
    height: 100px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    
}

.button18 {
    height: 100px;
    width: 100px;
    background-color: rgb(255, 0, 0);
    
}

.button19 {
    height: 100px;
    width: 100px;
    background-color: rgb(33, 94, 51);
    
}

.button20 {
    height: 100px;
    width: 100px;
    background-color: rgb(33, 94, 51);
    
    
}

.button21 {
    height: 100px;
    width: 100px;
    background-color: rgb(33, 94, 51);
}

.button22 {
    height: 100px;
    width: 100px;
    background-color: rgb(33, 94, 51);
}

.button23 {
    height: 100px;
    width: 100px;
    background-color: rgb(33, 94, 51);
}

.button24 {
    height: 100px;
    width: 100px;
    background-color: rgb(33, 94, 51);

}

.button25 {
    height: 100px;
    width: 100px;
    background-color: rgb(33, 94, 51);
    
}

.button26 {
    height: 100px;
    width: 100px;
    background-color: rgb(33, 94, 51);
    
}
